.mobile{
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
}
.mobile div{
    display: none;
  }
.mobile button{
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    background: white url(http://i.imgur.com/vKRaKDX.png) center no-repeat;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
  }
.mobile a {
  display: block;
}

a{
  background: #90C3D4;
  text-align: center;
  padding: 15px 0;
  border: 1px solid white;
  text-decoration: none;
  color: #222;
  font-family: "Lato";
  font-weight: 300;
  }

.desktop{
  display: block;
}
.desktop a{
    width: 24.5%;
    float: left;
    /*border-right: 1px solid #ddd;*/
  }

@media screen and (max-width: 500px){
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}
